/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body css for calculator */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(3, 42, 49) , #122f5a);
}

h1{
    text-align: center;
}
.calculator{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(3, 12, 14, 0.945);
}
/* input css  */
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(6, 201, 245, 0.3);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color : white;
}
/* button css  */
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 0px 3px 15px rgba(6, 201, 245, 0.3);
    cursor: pointer;
}
.equal{
    background-color: rgb(4, 123, 192);
}
.operator{
    color: aqua;
}
/* body css ends  */
